<h3>
  Person Details
  <span class="pull-right"><small><%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_person_path(@person.id), { :class => 'btn btn-sm btn-default', :title => "Edit" } %></small></span>
</h3>
<hr>

<form class="form-horizontal">
  <div class="form-group">
    <label class="col-md-2 control-label">Family Name</label>
    <div class="col-md-10">
      <p class="form-control-static"><%= @person.family_name %></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">Given Name</label>
    <div class="col-md-10">
      <p class="form-control-static"><%= @person.given_name %></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">Other Names</label>
    <div class="col-md-10">
      <p class="form-control-static"><%= @person.other_names %></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">Sex</label>
    <div class="col-md-10">
      <p class="form-control-static"><%= @person.sex %></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">D.O.B.</label>
    <div class="col-md-10">
      <p class="form-control-static"><%= @person.dob.nil? ? "" : @person.dob.strftime("%d/%m/%Y") %></p>
    </div>
  </div>
</form>
