  <div class="form-group">
    <label class="col-md-2 control-label">Course</label>
    <div class="col-md-10">
      <p class="form-control-static"><em><%= @course_event_candidate.event.master.code %></em> <%= @course_event_candidate.event.master.title %></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">Event</label>
    <div class="col-md-10">
      <p class="form-control-static"><%= @course_event_candidate.event.start_date.strftime('%A %d %B %Y') %></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">Candidate</label>
    <div class="col-md-10">
      <p class="form-control-static"><em><%= @course_event_candidate.candidate.cid %></em> <%= @course_event_candidate.candidate.master.full_name %></p>
    </div>
  </div>
  <div class="form-group<%= @course_event_candidate.errors[:cost].any? || @course_event_candidate.errors[:cost_currency].any? ? ' has-error' : nil %> ? ' has-error' : nil %>">
    <%= f.label :cost, { :class => "col-md-2 control-label" } %>
    <div class="col-md-2">
      <%= f.select :cost_currency_id, options_from_collection_for_select( Financial::Currency.all, :id, :short_code, @course_event_candidate.cost_currency_id), {}, { :class => "form-control" } %>
    </div>
    <div class="col-md-2">
      <%= f.text_field :cost, { :class => "form-control" } %>
    </div>
  </div>