<h3>
  Course Event
  <% if can? :edit, @course_event %>
  <span class="pull-right"><small><%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_event_path(@course_event.id), { :class => 'btn btn-sm btn-default', :title => "Edit" } %></small></span>
  <% end %>
</h3>
<hr>

<form class="form-horizontal">
  <div class="form-group">
    <label class="col-md-2 control-label">Start date</label>
    <div class="col-md-10">
      <p class="form-control-static"><%= @course_event.start_date.strftime('%A %d %B %Y') %></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">End date</label>
    <div class="col-md-10">
      <p class="form-control-static"><%= @course_event.end_date.strftime('%A %d %B %Y') %></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">Instructor</label>
    <div class="col-md-10">
      <p class="form-control-static"><%= @course_event.instructor.nil? ? "TBC" : "<em>#{@course_event.instructor.cid}</em> #{@course_event.instructor.master.display_name}".html_safe %></p>
    </div>
  </div>
 </form>

<% if can? :read, Course::EventCandidate %>
<h3>
  Candidates
  <% if can? :create, Course::EventCandidate %>
  <span class="pull-right"><small><button id="add-candidate-cmd" class="btn btn-sm btn-default" title="Assign Candidate"><span class="glyphicon glyphicon-plus"></span></button></small></span>
  <% end %>
</h3>
<hr>
<%= render :partial => "/course/event_candidates/list", :locals => { :e => @course_event.candidates } %>
<% end %>

<% if can? :create, Course::EventCandidate %>
<%= render "add_candidate" %>
<% end %>