<h3>
  Course Details
  <span class="pull-right"><small><%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_course_path(@course.code.downcase), { :class => 'btn btn-sm btn-default', :title => "Edit" } %></small></span>
</h3>
<hr>

<form class="form-horizontal">
  <div class="form-group">
    <label class="col-md-2 control-label">Code</label>
    <div class="col-md-10">
      <p class="form-control-static"><%= @course.code %></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">Title</label>
    <div class="col-md-10">
      <p class="form-control-static"><%= @course.title %></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">Duration</label>
    <div class="col-md-10">
      <p class="form-control-static"><%= @course.duration_human %></p>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label">Candidates</label>
    <div class="col-md-10">
      <p class="form-control-static">Min: <%= @course.min_candidate %>; Max: <%= @course.max_candidate %></p>
    </div>
  </div>
</form>

<h3>
  Course Events
  <span class="pull-right"><small><%= link_to '<span class="glyphicon glyphicon-plus"></span>'.html_safe, new_course_event_path(@course.code.downcase), { :class => 'btn btn-sm btn-default', :title => "New" } %></small></span>
</h3>
<hr>
<div class="row">
  <div class="col-md-12">
    <table class="table table-condensed table-ects table-bordered">
      <tbody>
        <tr class="subtitle">
          <th style="width: 30%;">Start Date</th>
          <th style="width: 30%;">End Date</th>
          <th>Instructor</th>
        </tr>
        <% if @course.course_events.any? %>
        <% @course.course_events.each do |c| %>
        <tr class="normal" data-link="<%= event_path(c.id) %>">
          <td><%= c.start_date.strftime('%A %d %B %Y') %></th>
          <td><%= c.end_date.strftime('%A %d %B %Y') %></td>
          <td><%= c.instructor.nil? ? "TBC" : c.instructor.master.display_name %></td>
        </tr>
        <% end %>
        <% else %>
        <tr>
          <td colspan="3"><span class="text-danger">No course events found.</span></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
