<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>East Coast Training Services</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <!-- Navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-application">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">ECTS</a>
      </div>
      <div class="navbar-collapse collapse" id="navbar-application">
        <ul class="nav navbar-nav">
          <%= namespace_link_to 'Courses', 'course' %>
         	<%= namespace_link_to 'People', 'person', '/people' %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= current_user.person.display_name %>&nbsp;
              <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Update Account", edit_user_registration_path %></li>
              <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
            </ul>
          </li>
        <% else %>
          <%= namespace_link_to "Login", "devise/sessions", new_user_session_path %>
        <% end %>
      </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>

  <% if params[:controller] != 'root' && !params[:controller].include?('devise') %>
  <div class="container">
    <div class="breadcrumb">
      <%= render_breadcrumbs %>
    </div>
  </div>
  <% end %>

  <!-- Content -->
  <div class="container">
    <%= yield %>
  </div>

  <script type="text/javascript">
    $("tr[data-link]").click(function() {
      window.location = $(this).data("link")
    });
    $(function() {
      var notice = '<%= notice %>';
      var alert = '<%= alert %>';
      if(notice) {
        alertify.log(notice);
      }
      if(alert) {
        alertify.error(alert);
      }
    });
  </script>

</body>
</html>
